html {
    font-family: "Microsoft YaHei";
    font-size: 10px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 0px;
    background: #737373;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
header, footer {
    width: 100%;
    height: 60px;
}
header {
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    background: rgba(248, 50, 50, 1);
}
footer {
    position: fixed;
    bottom: 0px;
	background: white;
}

header img {
	position: relative;
	width:40px;
	height: 40px;
	margin: 10px;
	vertical-align: middle;
}
header span {
	vertical-align: middle;
}
/*body, main::before {
    background: url(img/三生三世完整版.png) 0 / cover fixed;
}*/
main {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    /*background: -webkit-radial-gradient(center, ellipse cover, #F2D5D5 56%, #F7F3E6 100%); */
}
.bgbackground::before {
    content: '';
    position: absolute;
    top:0; right: 0;bottom: 0;left:0;
    filter: blur(30px);
    margin: -20px;
    background: url(img/三生三世.png)  left/50% fixed;
    background-repeat:no-repeat;
    background-origin:content-box;
}

.ww-music-play {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    transition: all 1s;
    transform: translateX(-50%);
}

.ww-music-left-aside {
	display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.ww-music-rotator {
    height: 70%;
    width: 100%;
    left: 60px;
    position: absolute;
}
.ww-gan {
    position: absolute;
    z-index: 1;
    width: 100px;
    left: 67%;
    transform-origin:10px 15px;
    transform: translateX(-50%) rotateZ(-30deg); ;
    top:-16px;
    transition: all 0.5s;
}
.midXY {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.ww-cd-outside {
    width: 330px;
    height: 330px;
    background: #999;
    border-radius: 50%;
}
.ww-rotate-cd {
	width: 320px;
    height: 320px;
    background-image: url(img/cd.png);
    border-radius: 50%;
}
.bag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#id-cd-cover {
    display: inline-block;
    width: 235px;
    height: 235px;
    background: url(img/三生三世.png) center/100% no-repeat;
    border-radius: 50%;
}
#id-cd-cover:hover {
     width: 220px;
    height: 220px;
}
#id-music-name {
    width: 100%;
    height: 30%;
    color: #0c0909;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 10%;
}
.music-funtion {
    padding: 10px;
}
.music-funtion span{
    width: 30px;
    font-size: 1.5rem;
    background: #29262C;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 20px 10px;
    cursor: pointer;
    color: #aaa;
}
.music-funtion span:hover {
    background: #333;
    color:#fff;
}

/*以下是 right*/
.ww-music-right-aside {
	display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: white;
}
.ww-music-contaniner {
    display: inline-block;
    background: #fff;
    width: 700px;
    height:510px;
}
.ww-music-dir {
    height: 35px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #c20c0c;
    border-style: solid;
    text-align: left;
}
.ww-music-dir span {
    display: inline-block;
}
.ww-dir-title {
    /*float: left;*/
    color: #333;
    font-size: 20px;
    margin-left: 37px;
}

.ww-dir-nums {
    color: #8c8c8c;
    margin-left: 32px;
    width: 35px;
}

.ww-dir-flag {
    color: #8c8c8c;
    float: right;
    margin-right: 33px;
    margin-top: 10px;
}
.ww-dir-times {
    color: #c20c22;
    font-weight: bolder;
}

.ww-dir-info {
    /*display: inline-block;*/
    height: 35px;
    text-align: center;
    width: 100%;
    font-size: 0px;
}
.ww-dir-info div {
    display: inline-block;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
    background-color: #f9f9f9;
    text-align: center;
    height: 34px;
    padding: 8px 0px;
    font-size: 12px;
    color: #737373;
    margin-left: 2px;
    vertical-align: bottom;
}
.ww-dir-info-blank {
    width: 10%;
}

.ww-dir-info-name {
    width: 40%;
}

.ww-dir-info-time {
    width: 15%;
}

.ww-dir-info-singer {
    width: 202px;
}

.ww-music-listSong {
    text-align: center;
    position: relative;
    height: 30px;
    font-size: 0px;
}
.ww-music-listSong:hover {
    background: #f2d5d5;
    cursor: pointer;
}
.odd {
    background: #ececef;
}

.even {
    background: #fff;
}
.ww-music-listSong span {
    display: inline-block;
    padding: 6px 0px;
    text-align: center;
    margin-left: 1px;
    font-size: 12px;
}
.ww-listSong {
    width: 9%;
    color: #999999;
    position: relative;
    left: -43px;
}
.ww-listSong-icon::before {
    content: "";
    display: inline-block;
    width:20px;
    height: 20px;
    background-image: url(img/cur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:opacity(0.2);
    left: 20px;
    top: 4px;
    position: relative;
}
.ww-listSong-icon-play::before {
    content: "";
    display: inline-block;
    width:20px;
    height: 20px;
    background-image: url(img/cur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:opacity(1);
    left: 20px;
    top: 4px;
    position: relative;
}

.ww-listSong-play {
    color: #b3b3b3;
    position: absolute;
    top: 1px;
    left: 45px;
    font-size: 21px;
}

.nowPlaying {
    color: #d21010;
}

.ww-listSong-play:hover {
    text-shadow: 0px 0px 20px #c20c0c;
}

.ww-listSong-song {
    width: 39%;
    color: #333333;
}

.ww-listSong-time {
    width: 13%;
    color: #666666;
}

.ww-listSong-singer {
    width: 32%;
    color: #393939;
}
/*以下 是 footer*/
.ww-center {
    position: relative;
    width:1200px;
    height: 60px;
    margin: 0 auto;
}
#ww-id-music-control img {
    width: 40px;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
}
#ww-id-music-control {
    position: absolute;
    left:0px;
    display: inline-block;
    width: 180px;
    height: 60px;
    text-align: center;
}
#ww-id-music-progress-bar {
    display: inline-block;
    margin: 0px 215px 0px 180px;
    height: 60px;
    width:800px;
    position: absolute;
}

#id-current-time, #id-duration {
    display: inline-block;
    width: 50px;
    height: 60px;
    color: #333;
    line-height: 60px;
    font-size: 1.5rem;
    text-align: center;
}

#id-duration {
    float: right;
}
#id-music-vol-order {
    float: right;
    display: inline-block;
    width: 250px;
    height: 60px;
    position: relative;
}
#id-music-vol-order img {
    cursor: pointer;
    width: 30px;
    margin-top: 15px;
    margin-left: 20px;
}
.music-vol {
    display: inline-block;
    width: 100px;
    background: #fff;
    height: 5px;
    vertical-align: middle;
    border-radius: 2.5px;
    margin-left: 5px;
}
#id-music-vol {
    width: 50px;
    background: #B82525;
    height: 6px;
}
#id-music-vol-point {
    left: 150px;
}
#id-progress {
    width: 700px;
    height:60px;
    margin: 0px 50px;
}
#id-progress input{
    position: absolute;
    height: 10px;
    width: 700px;
    bottom: 22px;
}
.ww-progress {
    -webkit-appearance: none;
    border-radius: 10px;
    height: 10px;
    outline: none;
}
.ww-progress:hover {
    cursor: pointer;
}
#ww-id-vol-progress {
    background:linear-gradient(to right ,#f83232 0%,#f83232 80%,#5b5b5b 80%, #5b5b5b 100%);
}
#ww-id-music-progress {
    background:linear-gradient(to right ,#5b5b5b 0%, #5b5b5b 100%);
}
.ww-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    border: 5px solid #ececef;
    margin-top: 0px;
    background: #c70c0c;
    border-radius: 100%;
}
.midXY {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#id-current-time {
    float: left;
}
#id-duration {
    /*position: relative;*/
}
#ww-id-music-vol-model {
    display: inline-block;
    position: relative;
    width: 215px;
    height: 60px;
    float: right;
}
#ww-id-music-vol-model img {
    cursor: pointer;
    width: 30px;
    margin-top: 20px;
}
.ww-music-progress {
    position: absolute;
    width:150px;
    height: 60px;
    margin-left: 40px;
    top:25px;
}
#id-music-order {
    float:right;
}
.ww-model-tip {
    position: absolute;
    height: 30px;
    width: 100px;
    top: -30px;
    left: 150px;
    background: #29262C;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 15px;
}
.hide {
    display: none;
}
